.backdrop {
  display: flex;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 9999;

  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.3);
}

.modal {
  margin: 12px;
  max-width: 80vw;

  overflow: hidden;

  border-radius: 12px;
  background-color: white;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1);
}
