.header {
  display: flex;
  padding: 12px;

  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: end;
}

.title {
  flex-grow: 1;

  font-weight: bold;
}

.controls {
  text-align: right;
}

.container {
  margin: 12px;
}

.label {
  font-weight: bold;
}

.data {
  margin-bottom: 12px;;
}
