.calendar {
  display: grid;
  margin: 12px;

  grid-template-columns: repeat(7, minmax(0, 1fr));
  gap: 1px;
  overflow: hidden;

  border-radius: 12px;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1);
}

.header {
  z-index: 1;

  padding: 12px;
  text-align: center;

  font-weight: bold;
  font-size: 0.8em;
  box-shadow: 0 0 0 1px grey;
  background-color: grey;
  color: white;
}



@media only screen and (max-width: 800px) {
  .calendar {
      grid-template-columns: 1fr;
  }

  .header {
    display: none;
  }
}
