.contentStrip {
  max-width: 1280px;
  margin: 0 auto;
}

.controls {
  margin: 8px;
}

.now {
  width: 120px;
  display: inline-block;
  vertical-align: middle;
}

.month {
  font-weight: bold;
  text-align: center;
}

.year {
  font-size: 0.8em;
  text-align: center;
}
