body {
  margin: 0;

  font-family: sans-serif;
}

/* Forms */
button, input {
  padding: 12px;

  border-radius: 6px;
}

button {
  margin: 4px;

  color: white;
  font-weight: bold;
  background-color: grey;
  border: none;
  cursor: pointer;
  transition: background-color 0.25s;
}

button:hover {
  background-color: lightgrey;
}

input {
  box-sizing: border-box;
  width: 100%;
  margin: 4px 0;

  border: 1px solid grey;
}

.invalidInput {
  border: 1px solid red;
  background: mistyrose;
}
